<%= link_to "logout", '/logout' %>

<% if @auth %>
  <div><h2>Welcome <%= @auth.first_name %></h2></div>
  <br>
<% end %>

<h1>Your username is: <%= @user.username %></h1>


<%= link_to "Edit Your Profile", edit_user_path %><br/><br/>
<%= link_to "Choose Your Meal Preferences", edit_user_path %><br/><br/>
<%= link_to "Show me Meals", user_list_path %><br/><br/>


<%if @user.is_seller %>
    <%= link_to "Post a Dish", new_meal_path %>
<% end %>


<!-- <%#= meal_show_tag(@user) %>         #helper not working properly -->

<br/>
<br/>
<% if @auth.is_seller && @auth.meals %>
  <h3>Your Posted Meals:</h3>
  <% @user.meals.each do |meal| %>
  <%= meal.meal_name %>
  <%= link_to "Edit Dish", edit_meal_path(meal) %>
  <%= link_to 'Destroy', meal, method: :delete, data: {confirm: 'Are you sure?'}%><br/>
<% end %>

<%if @auth.is_seller %>
    <%= link_to "Add Dish", new_meal_path %>
<% end %>



<p>Find me in app/views/users/show.html.erb</p>

<% end %>